* {
  margin: 0;
  padding: 10px;
  font-family: "Courier New", Courier, monospace;
  background-color: white;
}

img {
  height: 300px;
}

div {
  margin-bottom: 50px;
}

.nav {
  text-align: center;
  margin: 20px 0 0;
  padding: 10px 0;
  font-size: 30px;
}

.singleArticle {
  border-top: solid;
  border-left: solid;
  border-right: solid;
  background-color: white;
}

.singleArticle:last-of-type {
  border-bottom: solid;
}

.header {
  margin-top: 20px;
  background-color: navy;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  margin-bottom: 2px;
  font-size: 40px;
}

.disagree {
  font-size: 50px;
  color: red;
}
